{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "1.12.x"
        }
    },
    "minMsi": 20.73,
    "minCoveredMsi": 100.00,
    "phpUnit": {
        "configDir": ".",
        "customPath": "vendor/bin/phpunit"
    },
    "testFrameworkOptions": "--testsuite=unit"
}
