{# @var resource \Setono\SyliusNavigationPlugin\Model\NavigationInterface #}
{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="ten wide column">
        {{ form_row(form.code) }}
        {{ form_row(form.maxDepth) }}
        {{ form_row(form.enabled) }}
    </div>
    <div class="six wide column">
        <h4>TODO</h4>
        <ul>
            <li>Build from an existing taxon tree</li>
            <li>Build from scratch</li>
        </ul>
    </div>
</div>
