<ul>
    <li>
        {{ ssn_item(item) }}
        {% if item.hasChildren() %}
            {% for child in item.children %}
                {{ ssn_tree(child) }}
            {% endfor %}
        {% endif %}
    </li>
</ul>
